<!doctype html>
  <html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}"/>

    <link rel="stylesheet" href="../static/css/course-style.css" th:href="@{/css/course-style.css}">
    <link rel="stylesheet" href="../static/css/review-style.css" th:href="@{/css/review-style.css}">
    <link rel="stylesheet" href="../static/css/home-style.css" th:href="@{/css/home-style.css}">
    <title th:object="${course}" th:text="${course.getTitle()}"></title>
  </head>


  <body id="top-header">
    <!-- Navbar -->
    <div class="main-navigation fixed-top site-header" id="mainmenu-area">
    </div>

    <section class="course main" th:object="${course}">
      <div class="course-container" th:id="${course.getId()}">
        <div class="course-content">
          <div class="course-info" id="course">
            <div  id="title-and-rating">
              <h2 class="form-title" th:text="${course.getTitle()}">Course title</h2>
              <span id="average-rating"></span>
            </div>
            <div class="form-group">
              <i class="zmdi zmdi-account material-icons-name"></i>
              <h3 id="teacher" th:text="${course.getUser().getFirstname() + ' ' + course.getUser().getLastname()}"/>
            </div>
            <div class="form-group">
              <i class="zmdi zmdi-calendar material-icons-name"></i>
              <span><i id="date" class="ti-time mr-2" th:text="${course.getDate()}"></i></span>
            </div>
            <div class="form-group">
              <i class="zmdi zmdi-book material-icons-name"></i>
              <h5 id="subject" class="mt-2 mb-3" th:text="${course.getSubject()}"/>
            </div>
            <div class="form-group">
              <i class="zmdi zmdi-pin-drop material-icons-name"></i>
              <h5 id="location">Location: <span th:text="${course.getDisplayableLocation()}"></span></h5>
            </div>
            <div class="form-group">
              <i class="zmdi zmdi-money material-icons-name"></i>
              <h5 id="price">Price: <span th:text="${course.getPrice()}"></span></h5>
            </div>
            <div class="form-group">
              <i class="zmdi zmdi-money material-icons-name"></i>
              <h5 id="enrolledStudents">Enrolled students: <span id="enrolledStudentsCount" th:text="${course.enrolledStudentsCount()}"></span></h5>
            </div>
            <div class="form-group form-button">
                <button id="enroll" type="submit" class="enroll form-submit btn">Enroll</button>
            </div>
          </div>
          <div class="subject-image">
            <figure><img src="../static/images/subjects/default.png" th:src="@{/images/subjects/__${course.getDisplayableSubject()}__}" alt="sign up image"></figure>
          </div>
        </div>
      </div>
    </section>

    <!-- Review form -->
    <section class="create-review" id="create-review">
    </section>

    <section class="section blog-home border-top row" id="review-section">
    </section>

    <section class="section blog-wrap border-bottom">
    </section>

    <!--  Page Scroll to Top  -->
    <a class="scroll-to-top smoth-scroll" href="#top-header">
      <i class="ti-angle-up"></i>
    </a>
  </body>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script th:src="@{/js/scrollToTop.js}" src="../static/js/scrollToTop.js"></script>
  <script th:src="@{/js/enrollment.js}" src="../static/js/enrollment.js"></script>
  <script th:src="@{/js/stars.js}" src="../static/js/stars.js"></script>
  <script th:src="@{/js/post-review.js}" src="../static/js/post-review.js"></script>
  <script src="../static/js/nav.js" th:src="@{/js/nav.js}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
</html>