                                     <!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" th:src="@{'https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css'}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>

    <link rel="stylesheet" href="../static/fonts/material-icon/css/material-design-iconic-font.css"  th:href="@{/fonts/material-icon/css/material-design-iconic-font.css}">

    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" th:src="@{'https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css'}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
        <link rel="stylesheet" href="../static/fonts/material-icon/css/material-design-iconic-font.css"  th:href="@{/fonts/material-icon/css/material-design-iconic-font.css}">
        <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <title>Sign up to Coursify</title>
    </head>
    <body>
        <div class="register-form main">
            <section class="signup">
                <div class="register-container">
                    <div class="signup-content">
                        <div class="register-form-css">
                            <h2 class="form-title">Sign up</h2>
                                <div class="form-group">
                                    <label for="firstName"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                    <input type="text" id="firstName" name="firstName" class="" placeholder="Your Name"/>
                                </div>

                                <div class="form-group">
                                    <label for="lastName"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                    <input type="text" id="lastName" name="lastName" class="" placeholder="Last Name"/>
                                </div>

                                <div class="form-group">
                                    <label for="email"><i class="zmdi zmdi-email material-icons-name"></i></label>
                                    <input type="email" id="email" name="email" class="" placeholder="Email"/>
                                </div>

                                <div class="form-group">
                                    <label for="current-password"><i class="zmdi zmdi-lock material-icons-name"></i></label>
                                    <input type="password" id="current-password" name="password" class="" placeholder="Password"/>
                                </div>

                            <div class="form-group">
                                <label for="user-type"></label>
                                <select class="form-select form-select-lg mb-3" id="user-type">
                                    <option value="STUDENT"  name="$userType" class="form-option">Student</option>
<!--                                    <option value="ADMINISTRATOR" name="$userType" class="form-option">Administrator</option>-->
                                    <option value="TEACHER" name="$userType" class="form-option">Teacher</option>
                                </select>
                            </div>
                            <div class="form-group form-button">
                                <button id="register" type="submit" class="form-submit btn">Register</button>
                            </div>
                    </div>
                    <div class="signup-image">
                        <figure><img src="../static/images/signUpImage.png"  th:src="@{/images/signUpImage.png}" alt="sign up image"></figure>
                        <a href="http://localhost:8080/login" class="signup-image-link">I am already member</a>

                    </div>
                </div>
            </section>
        </div>
    </body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="../static/js/registration.js" th:src="@{/js/registration.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

</html>